:root
{
    --primary: #cc5d0d;
    --secondary: #414443;
    --white-text: #f7f5f2;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Times New Roman', 'Open Sans';  
}

header 
{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

header::before 
{
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/roof.jpeg') center / cover no-repeat;
    background-size: cover;
    filter: blur(3px);
    transform: scale(1.1); 
    z-index: 1;
}

header > * 
{
    position: relative;
    z-index: 2;
}


a
{
    color: var(--secondary);
    text-transform: uppercase;
    text-decoration: none;
}

ul
{
    list-style: none;
}

.logo img 
{
    margin: 0;
    padding: 0;
    max-height: 8rem;
    width: auto;
    object-fit: contain;
}

.navbar
{
    background: rgba(226, 225, 225, 0.411);
    width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
    flex-wrap: wrap;
}

.links 
{
    align-items: center;
    display: flex;
    font-size: 1.1rem;
    gap: 2rem;
    padding: 0 2rem;
}

.links ul
{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.links a
{
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
}

.links a:hover 
{
    font-size: clamp(1rem, 1.6vw, 1.3rem);
    transition: all 0.3s ease;
}

.btn-quote 
{
    border: none;
    border-radius: 15px;
    color: var(--white-text);
    font-size: 1rem;
    background-color: var(--primary);
    height: 2.6rem;
    width: 8.4rem;
    letter-spacing: .1rem;
}

.showcase 
{
    min-height: calc(100vh - 8rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    color: var(--white-text);
}

.showcase h1
{
    font-size: clamp(2.5rem, 6vw, 6rem);
    text-shadow: 2px 2px #41524c;
}

.showcase p
{
    font-size: 1.4rem;
    text-shadow: 2px 2px #0d0d0d;
}

.highlight
{
    color: var(--primary);
}

.btn 
{
    display: inline-flex;
    gap: 10px;
}

.btn button
{
    border: none;
    border-radius: 15px;
    color: var(--white-text);
    background-color: var(--primary);
    font-size: 1rem;
    height: 2.6rem;
    width: 9.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    padding: 5px;
}

header button:hover 
{
    background-color: var(--secondary);
    transition: all 0.3s ease;
}

/*  Services */
.service-list 
{
    color: var(--white-text);
    background-color: var(--white-text);
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.service-card 
{
    background: var(--secondary);
    border-bottom: 2px solid var(--primary);
    height: 24rem;
    width: 20rem;
    padding: 1.5rem;
    margin-bottom: 6rem;
    margin-top: -4rem;
    z-index: 1;
}

.service-card:hover
{
    background-color: var(--primary);
    color: var(--white-text);
}

.service-card:hover 
{
    background-color: var(--primary);
    color: var(--white-text);
    border-bottom: 3px solid var(--secondary);
}

.service-card,
.service-card .icon,
.service-card h6,
.service-card p 
{
    transition: all 0.3s ease;
}

.service-card:hover .icon,
.service-card:hover h6
{
    color: var(--secondary);
}

.service-card .icon, .service-card h6, .service-card p
{
    padding-bottom: 1.2rem;
}

.service-card .icon, .service-card h6 
{
    color: var(--primary);
}

.service-card .icon
{
    font-size: 3.5rem;
}

.service-card h6
{
    font-size: 1.5rem;
}

.service-card p
{
    font-size: 1.1rem;
}